*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One','Courgette', 'Baloo Tamma 2', 'Oswald';
}
html{
  scroll-behavior: smooth;
}

html.sr .load-hidden, html.sr .card{
  visibility: hidden;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  margin-top: 0;
}
header h3{
  margin-left: 50px;
}
header nav ul{
  list-style: none;
  display: flex;
}
header nav ul li {
  margin-right: 50px;
}
header li a{
  color: black;
  text-decoration: none;
}
header li a:hover {
  color: rgb(53, 52, 52);
  border-bottom: 2px solid goldenrod;
  text-decoration: none;
}
.active{
  color: rgb(53, 52, 52);
  border-bottom: 2px solid goldenrod;
}
.dropbtn{
  display: none;
}

.slider{
  padding: 220px 0;
  background-image: url('/img/food14.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: goldenrod;
  text-align: center;
}

.slider h1{
  font-size: 55px;
}

.service{
  padding: 70px 0;
}
.service h3{
  margin-left: 20px;
}
.service p{
  text-align: center;
}
.service_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.service .card{
  flex-basis: 230px;
  text-align: center;
  border: 1px solid grey;
  margin-top: 15px;
  line-height: 1cm;
}
.service .card img{
  width: 100%;
  height: 250px;
}
.service button{
  padding: 3px 5px;
  color: white;
  border: none;
  background: goldenrod;
  outline: goldenrod;
}
.service button:hover{
  background-color: gold;
}

.about{
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1200px;
  margin: auto;
}
.about .about_us{
  width: 600px;
  /* flex-grow: 1; */
  /* height: 450px; */
}
.about .about_us h2{
  text-align: center;
}
.about .about_us p{
  padding: 6px 10px;
  line-height: 0.8cm;
  font-size: 0.5cm;
}
.about .about_us img{
  width: 100%;
  height: 100%;
}
.about .content{
  flex-grow: 1;
}
.about .image{
  flex-shrink: 100;
}


footer{
  text-align: center;
  padding: 18px 0;
  border-top: 1px solid rgb(168, 167, 167);
}


@media screen and (max-width: 768px){
  header h3{
    margin-left: 20px;
  }
  .dropbtn{
    display: block;
    font-size: 26px;
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown_content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    right: 0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 6px 6px;
  }
  .dropdown_content li{
    margin-top: 9px;
  }
  .show{display: block;}
  .service .card{
    flex-basis: 280px;
  }
}